<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">  
		<layout class="org.apache.log4j.PatternLayout">
            <param 
                name="ConversionPattern" 
                value="%d{yyyy/MM/dd | HH:mm:ss:SSS} | %p | %t | %C.%M:%L | %m%n"/>
		</layout>      
	</appender>

    <!-- Set log Level for common code --> 	
	<category name="org.apache">
		<priority value="error" />
	</category>
	
	<category name="org.springframework">
		<priority value="error" />
	</category>                   
    
    <!-- Set log Level for PRC Code -->    	
	<category name="cogito.online">
		<priority value="debug" />
	</category>

	<root>
	   	<priority value="error" />
    	<appender-ref ref="stdout"/>
  	</root>

</log4j:configuration>